<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/landing_pages.css">
    <title>Landing Page</title>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat&display=swap" rel="stylesheet"> -->


    
    <div id="top_ribbon">
        <h1> </h1>
        <input type="image" name="Name of image bu" id="submitbutton" src="/static/blank-button-template.jpg" alt="button-img">  
        <h1 id="logintext"> Login </h1>
    </div>
</head>
<body>
    <div id="entry_fields">
        <label for="airport.code">Airport Code</label><br>
        <input type="text" id="airport.code" name="airport.code"><br>
        <!-- <input type="submit" value="submit" id="submit" submit.button"><br>: -->
        <label for="planetype">Plane Engine Type</label><br>
        <select id="planetype" name="planetype">
            <option value="">Single Engine Piston</option>
            <option value="">Turboprop</option>
            <option value="">Jet</option>
        </select>

    </form>
    </div>
</body>
</html>